body {
    background-image: url("blu.jpg");
    width: 90%;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-position-x: center;
}

.header .navbar {
  background-color: transparent !important;
}